<div id="mySidenav" class="sidenav shadow-lg" #mySidenav>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav(mySidenav)">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>

  
    <div class="ml-4 mt-5">
        <div class="row" *ngFor="let course of coursesArray">
            <div class="col-md-6">
                <div class="d-flex">
                    <span>icon</span> 
                    <div class="ml-3">
                        <p class="mb-0">{{course.subject}}</p>
                        <p class="msg">{{course.value < 50 ? 'Basic' : 'Advance'}}</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-6">
                <div class="progress">
                    <div class="progress-bar bg-info"  role="progressbar" [style]="'width :'+ course.value+'%'"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <h5 class="my-3">Remiders</h5>
        <div *ngFor="let rem of remindersArray">
            <div class="d-flex">
                <span>icon</span> 
                <div class="ml-3">
                    <p class="mb-0">{{rem.title}}</p>
                    <p class="date">{{rem.datetime | date : 'fullDate'}}</p>
                </div>
            </div>  
        </div>
    </div>
</div>
  

<div id="mySidenav" class="sidenav2 shadow-lg" #mySidenav2>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav2(mySidenav2)">&times;</a>
    <a href="#"><i class="fa-solid fa-box  mr-3"></i>Dashboard</a>
    <a href="#"><i class="fa-solid fa-message  mr-3"></i>Massages</a>
    <a href="#"><i class="fa-solid fa-user-group mr-2"></i> Customers</a>
    <a href="#"><i class="fa-solid fa-play  mr-3"></i>Campaigns</a>
    <a href="#"><i class="fa-regular fa-calendar-days  mr-3"></i>Calender</a>
    <a href="#"><i class="fa-solid fa-align-center  mr-3"></i>Content</a>
    <a href="#"><i class="fa-solid fa-video  mr-3"></i>Videos</a>
    <a href="#"><i class="fa-regular fa-file  mr-3"></i>Lists</a>
</div>


<div id="main" class="d-flex justify-content-between">
    <span style="font-size:30px;cursor:pointer" (click)="openNav2(mySidenav2)">Logo </span>
    <span style="font-size:30px;cursor:pointer" (click)="openNav(mySidenav)">&#9776; </span>
</div>





