

.shadow {
   
    border-radius: 8%;
    background-color: #4d4cac;
}


.shadow1{
    background-color: #9698d6;
    border-radius: 8%;
}



.shadow2{
    background-color: #ff808b;
    border-radius: 8%;
}




.notify, .notify1, .notify2{
    background-color: #5a5ab2;
    color: white;
    padding: 5px 10px;
    border-radius:35% ;  
    
}

.notify1{
    background-color: #a4a6db;

}

.notify2{
 background-color: #ff919b;
 
}

.mh{
    display: inline-block;
   flex-direction: row;
}

.mb-0{
    margin: 1px 13px;

    font-size: 10px;
}

h5.rx {
    margin-right: 717px;
    margin-left: 15px;
}

.ry{
    margin-left: 25px;
}

.test{
    margin: 7px;
}